:root {
    --background-color: #FEFEFF;
    --primary-color: #F2725F;
    --secondary-color: #F2A42D;
    --button-color: #F2735E;
    --text-color: #43444f;
    --border-radius: 2px;
}



@font-face {
    font-family: 'austera';
    src: url('Fonts/AusteraText-Regular.woff2') format('woff2');
}

*{
    font-family: 'austera', Arial, Helvetica, sans-serif;
    color: var(--text-color);
    max-width: 100%;  /* vragen hoe ik dit niet op header kan toepassen */
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "convert"
    "about"
    "video"
    "signup"
    "reviews"
    "footer";
}

header{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 15px;
    padding-left: 10px;
    border-bottom: 1px solid #ddd ;  /* shorthand hex lichtgrijs */
    grid-area: header;
}

main{
    margin: 0;
    padding: 0 40px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    place-items: center;
}

.convert{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area:convert;

    
    button{
        background-color: #F2735E ;
        color: #FEFEFF ;
        text-decoration: bold;
        border: none;
        border-radius: var(--border-radius);
        padding: .75em;
        width: fit-content;
        margin: 1em;
    }

    textarea{
        width: 80%;
        border: var(--text-color) solid 2px;
        border-radius: var(--border-radius) ;
    }

    .ASCII{
        height: 5em;
    }
}

.about{
    grid-area: about;

    .checkmark{
        display: grid;
        grid-template-columns: 40px 1fr;
        align-items: center;
    }
}

video{
    grid-area: video;
}

.signup{
    grid-area: signup;

    button{
        background-color: #F2735E ;
        color: #FEFEFF ;
        text-decoration: bold;
        border: none;
        border-radius: var(--border-radius);
        padding: .75em;
        width: fit-content;
        margin: 1em;
    }
}

.reviews{
    grid-area: reviews;

    .galerij{
    display: flex;
    flex-wrap: wrap;
    }

    img{
        max-width: 40vw;
    }
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .footer-column{
        grid-column-start: auto;
        align-items: center;
    }
    
}

ul{
    list-style: none;
    
}


@media (min-width: 800px) {
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
        grid-template-areas:
    "header header"
    "convert video"
    "convert signup"
    "about about"
    "reviews reviews"
"footer footer";}           
}