:root {
    --background-color: #FEFEFF;
    --primary-color: #E41407;
    --secondary-color: #F2A42D;
    --button-color: #E41405;
    --text-color: #43444f;
    --border-radius: 2px;
    --rvw-background: #faf8f5;
    --white-color: white;
}

@font-face {
    font-family: 'austera';
    src: url('Fonts/AusteraText-Regular.woff2') format('woff2');
}

* {
    font-family: 'austera', Arial, Helvetica, sans-serif;
    color: var(--text-color);
    max-width: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "convert"
        "about"
        "video"
        "signup"
        "reviews"
        "footer";
}

header {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
    grid-area: header;
}

main {
    margin: 0;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    place-items: center;

    /* Desktop layout */
    @media (min-width: 800px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header header"
            "convert video"
            "convert signup"
            "about about"
            "reviews reviews"
            "footer footer";
    }
}

.convert {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: convert;
}

/* Herbruikbare button styles */
button {
    background-color: var(--button-color);
    color: var(--white-color);
    font-weight: bold;
    border: none;
    border-radius: var(--border-radius);
    padding: .75em;
    width: fit-content;
    margin: 1em;
    transition: 0.2s ease-out;

    &:hover {
        scale: 1.2;
        cursor: pointer;
        background-color: #E41300;
    }
}

form {
    align-content: center;
}

textarea {
    width: 450px;
    border: var(--text-color) solid 2px;
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: 1fr;
    width: 350px;
}

.ASCII {
    height: 5em;
}

.about {
    grid-area: about;
    padding-bottom: 5em;

    .checkmark {
        display: grid;
        grid-template-columns: 40px 1fr;
        align-items: center;
    }
}

video {
    grid-area: video;
}

.signup {
    grid-area: signup;
}

article{
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: var(--rvw-background);
    max-width: 80%;
    margin: 1em;
    border-radius: 15px;
    align-items: center;
    justify-items: center;

        h2{
        font-size: 1em;
         margin: 10px;
        color: var(--primary-color);
        }

        a{
            font-size: 1em;
            text-decoration: none;
            &:hover{
                color: var(--primary-color);
                
            }
        }
        
        p, img{
          font-size: .75em;
          margin: 10px;
          text-align: left;
        }


      .reviewtxt, .reviewtxt1 .reviewtxt2, .reviewtxt3, .reviewtxt4{
    grid-row-start: 1;
    text-align: left;

   }

    .reviewimg, .reviewimg1, .reviewimg2, .reviewimg3, .reviewimg4{
        grid-row-start: 2;
        max-width: 80%;
        background-color: var(--background-color);
        box-shadow: 1px 1px 1px 1px;
        border-radius: 10px;
        transform: rotate(-1deg);
        padding: 14px;    
        display: grid;
        grid-template-rows: 1fr 40px;
        
        
    }
    .avatar{
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
    

}

.reviews {
    grid-area: reviews;
    place-items: center;
    display: grid;
    grid-template-columns: 1fr;

    h3{
        grid-column: 1 / -1;
        text-align: center;
    }

        /* Desktop: horizontale layout */
        @media (min-width: 800px) {
            grid-template-columns: 1fr 1fr;
        }

       

    

    img {
        max-width: 50vw;
    }
}

 footer {     
    display: grid;
    grid-template-columns: 1fr;
    align-content: baseline;
    justify-content: left;
    padding: 0 60px 0 60px;

    
    @media (min-width: 550px){
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    @media(min-width: 1000px){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
   
    h4{
        text-align:left;
        padding-left: 40px;
    }

    li {
        list-style: none;
        text-align: left;
    }
}
