:root {
    --background-color: #FEFEFF;
    --primary-color: #F2725F;
    --secondary-color: #F2A42D;
    --button-color: #F2735E;
    --text-color: #43444f;
    --border-radius: 2px;
}

@font-face {
    font-family: 'austera';
    src: url('Fonts/AusteraText-Regular.woff2') format('woff2');
}

* {
    font-family: 'austera', Arial, Helvetica, sans-serif;
    color: var(--text-color);
    max-width: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "convert"
        "about"
        "video"
        "signup"
        "reviews"
        "footer";
}

header {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
    grid-area: header;
}

main {
    margin: 0;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    place-items: center;

    /* Desktop layout */
    @media (min-width: 800px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header header"
            "convert video"
            "convert signup"
            "about about"
            "reviews reviews"
            "footer footer";
    }
}

.convert {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: convert;
}

/* Herbruikbare button styles */
button {
    background-color: var(--button-color);
    color: #FEFEFF;
    font-weight: bold;
    border: none;
    border-radius: var(--border-radius);
    padding: .75em;
    width: fit-content;
    margin: 1em;
    transition: 0.2s ease-out;

    &:hover {
        scale: 1.2;
        cursor: pointer;
        background-color: #DC735E;
    }
}

form {
    align-content: center;
}

textarea {
    width: 450px;
    border: var(--text-color) solid 2px;
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: 1fr;
}

.ASCII {
    height: 5em;
}

.about {
    grid-area: about;
    padding-bottom: 5em;

    .checkmark {
        display: grid;
        grid-template-columns: 40px 1fr;
        align-items: center;
    }
}

video {
    grid-area: video;
}

.signup {
    grid-area: signup;
}

.reviews {
    grid-area: reviews;

    .galerij {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;

        /* Desktop: horizontale layout */
        @media (min-width: 800px) {
            flex-direction: row;
        }
    }

    img {
        max-width: 40vw;
    }
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .footer-column {
        display: grid;
        grid-column-start: auto;
        align-content: left;
    }
    
    ul {
        list-style: none;   
    }
}